html{
	background-color: #007B7B
}

.group:not(:last-child){
	border-bottom: none; /* Prevent double borders */
}

@font-face { font-family: start; src: url('start.ttf'); } 

body{
	font-family: MS Sans Serif ;
	background-color: #BDBDBD;
	border-style: solid;
	border-width: 5px;
	border-color: #DEDEDE;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 2s; /* Firefox < 16 */
         -ms-animation: fadein 2s; /* Internet Explorer */
          -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.all{
	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	background-image: linear-gradient(to right, #00007B , #0884CE);
	border-style: solid;
	border-width: 5px;
	border-color: #BDBDBD;
}

.Title{
	padding-left:3px;
	display: inline;
	font-size: 40px;
	text-align: left;
	color:white;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width:50%;
}

#expand{
	padding-top:20px;
	border-style: none;
	padding-left:35px;
	float:right;
	width: 35px;
	height:35px;
	background: url("images/expand.png"); 
    background-size: 35px;
    background-position: left;
    background-repeat: no-repeat;
}

#min{
	padding-top:20px;
	border-style: none;
	float:right;
	width: 35px;
	height:35px;
	background: url("images/min.png"); 
    background-size: 35px;
    background-position: left;
    background-repeat: no-repeat;
}

#x{
	padding-top:20px;
	border-style: none;
	float:right;
	width: 35px;
	height:35px;
	background: url("images/x.png"); 
    background-size: 35px;
    background-position: left;
    background-repeat: no-repeat;
}

.links{
	overflow: hidden;
	background-color: #BDBDBD;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF #7B7B7B #7B7B7B  ;
	
}

.links a{
	color:black;
	text-align: center;
	padding: 5px 30px;
	float: left;
	font-size: 15px;
	Display: block;
	text-decoration: none;
}

.links a:hover {
	background-color: #BDBDBD;
	color: black;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF #7B7B7B #7B7B7B  #FFFFFF;
}

.T1 img{
	padding-right: 3px;
	height:auto;
	padding-bottom: 50px;
}
.T1{
	background-color:#FFFFFF;
	text-align: left;
	font-size: 20px;
	color: Black;
	border-style: solid;
	border-width: 3px;
	border-color: #5A5A5A #F1F1F1 #EDEDED #909090; 
}

.T1 h5{
	text-align:center;
}

.T1 h6{
	text-align: center;
}

.navbar {
  font-family: start;
  background-color: #C0C0C0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-color: #FFFFFF;
  border-style: solid;
  border-width: 2px;
  padding-top: 2px;
  padding-bottom:2px;
  padding-left:3px;
}

.navbar button{
  border-style: solid;
  border-width: 2px;
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
  border-right-color: #000000;
  border-bottom-color: #000000;
  
}

#button {
  background: url("images/start.png"); 
  background-size: 20px;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #C0C0C0;
  line-height: 29px;
  width: 65px;
  float: left;
  padding-right: 5px;
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  border-style: solid;
  border-width: 2px;
  border-top-color: #DEDEDE;
  border-left-color: #DEDEDE;
  border-right-color: #7B7B7B;
  border-bottom-color: #7B7B7B;
  text-align: right;
  margin: auto;
}



.navbar time{
	background: url("images/sound.png"); 
    background-size: 20px;
    background-position: left;
    background-repeat: no-repeat;
	float: right;
	border-style: solid;
	border-width: 2px;
	border-top-color: #808080;
	border-left-color: #808080;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 22px;
	padding-right: 5px;
}

.navbar img{
	width: 25px;
	height: 25px;
	align:center;
	padding-top:5px;
	padding-left:5px;
	position: fixed;
}

#hide {
  background: url("images/disk.png"); 
  background-size: 30px;
  background-position: bottom 3px left 5px;
  background-repeat: no-repeat;
  background-color: #C0C0C0;
  line-height: 25px;
  width: 190px;
  float: left;
  padding-left: 40px;
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  border-style: solid;
  border-width: 2px;
  border-top-color: #000000;
  border-left-color: #000000;
  border-right-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  text-align: left;
  margin: auto;

}

.hide2{
	padding-top:2px;
	padding-left:168px;
	border-left-color: #7B7B7B;
    border-width: 2px;
}

.startborder{
	padding-right:15px;
}


#ie{
	padding-left:10px;
	border-left-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-top-color: #BDBDBD;
	border-bottom-color: #BDBDBD;
	border-right-color: #BDBDBD;

}

#mine{
	padding-left:50px;
	padding-right: 10px;
	border-left-color: #BDBDBD;
	border-style: solid;
	border-width: 1px;
	border-top-color: #BDBDBD;
	border-bottom-color: #BDBDBD;
	border-right-color: #7B7B7B;
}


.desktop{
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 72px;
  z-index: 9999;
  border-style: none;
  padding-left:5px;
}

.deskicon{
	text-align: center;
	vertical-align: top;
	width: 72px;
	z-index: 0;
	line-height: 12px;
	margin: 0;
	padding: 8px 1px;
	font-size: 14px;
	font-family: px_sans_nouveaux;
	border-style: none;
}

.deskicon h6{
	font-size: 2px;
}
#deskicon{
	opacity: 0;
}

#deskicon1{
	opacity: 0;
}

#deskicon2{
	opacity: 0;
}

#deskicon3{
	opacity: 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.column {
  float: left;
  width: 33.3333333333333%;
  box-sizing: border-box;
  padding-left: 10px;
}
.column2 {
  float: left;
  width: 33.3333333333333%;
  box-sizing: border-box;
}
.column3 {
  float: left;
  width: 33.3333333333333%;
  box-sizing: border-box;
}
.column img{
  width: 55%;
  box-sizing: border-box;
}
.column2 img{
  width: 70%;
  box-sizing: border-box;
}
.column3 img{
  width: 61.5%;
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
} 
